<log4net>  
  <appender name="RollingFileERRS" type="log4net.Appender.RollingFileAppender">
    <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <file value="Logs\" />
    <datePattern value="yyyy-MM-dd.\tx\t" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="5MB" />   
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%-5p%d{ yyyy-MM-dd HH:mm:ss}  – [%thread] %m  %n %exception" />
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="RollingFileERRS" />
  </root>
</log4net>